.cart-section{
    display: flex;
    justify-content: space-around;
}

.cart-section #card-id{
    background-color:var(--secondary-background); 
    width: 34rem;
    height: 22rem;
}

#card-id .horizontal-card{
    width: 34rem;
    height: 22rem;
    border: var(--secondary-background);
}

.cart-shadow{
    box-shadow: 0.1rem 0.25rem 0.25rem var(--secondary-color);
}

.payment-section .txt-left{
    text-align: left;
}

.payment-section .description {
    border-bottom: 0.01rem solid var(--secondary-color);
}

.payment-section .description .txt-right{
    float: right;
}

.payment-section .card-container{
    width: 22rem;
    height: 22rem;
    text-align: center;
    background-color: var(--secondary-background);
}
.payment-section .text-only-card{
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    border: var(--secondary-background);
}


