@import url("page_styles/login.css");
@import url("page_styles/wishlist.css");
@import url("page_styles/products.css");
@import url("page_styles/cart.css");

:root {
    --secondary-background: #FFFFFF;
}

/* nav bar css */
/* Id here is used for specificity */
#nav-id {
    background-color: var(--text-color);
    color: var(--primary-color);
    border-bottom: 0.2rem solid var(--secondary-color);
}

.navigation .list-non-bullet .link {
    color: var(--primary-color);
}

#nav-id .link-active {
    color: var(--secondary-color);
    text-decoration: underline;
}

.navigation .meta-icon {
    color: var(--primary-color);
}

#nav-id .link-active .meta-icon {
    color: var(--secondary-color);
}

.meta-info {
    color: var(--secondary-color);
    font-weight: bolder;
}

.banner-img {
    height: 30rem;
    width: 100%;
}

.fit {
    object-fit: cover;
    object-position: center;
}

.main-content {
    position: relative;
}

.text-overlap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color);
    opacity: 90%;
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: bolder;
}

.categories {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.categories .card-container {
    background-color: var(--text-color);
}

.card-container {
    height: 70rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin-top: 2rem;
}

.card .card-image {
    height: 50%;
}